@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
  /* scroll-margin-top: ;とセットで考える。 */
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color: #555;
}

#container {
  max-width: 600px;
  margin: 10rem auto 0;
  padding: 2rem;
  text-align: justify;
  text-indent: 1rem;
  background-color: #eee;
  border-radius: .5rem;
  box-shadow: 2px 2px 2px #ccc;
}

input {
  margin-bottom: 3rem;
  padding: .75rem 2rem;
  color: #fff;
  background-color: #333;
  border-radius: .5rem;
  transform: translateY(.15rem);
  transition: .3s;
}

input:hover {
  font-weight: 700;
  transform: translateY(0);
  opacity: .5;
  box-shadow: 0 0 3px #555;
}

h1, h2 {
  margin: 2rem 0 0;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1em;
  text-transform: capitalize;
}

h2 {
  margin: 2rem 0 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1em;
}

h2:first-of-type {
  margin: 1rem 0;
}

#greeting > h2 {
  font-size: 2rem;
  line-height: 1em;
  text-align: center;
  letter-spacing: .07em;
  text-transform: uppercase;
}