@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
  /* scroll-margin-top: ;とセットで考える。 */
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color: #555;
}

#container {
  max-width: 600px;
  margin: 10rem auto 0;
  padding: 2rem;
  text-align: justify;
  text-indent: 1rem;
  background-color: #eee;
  border-radius: .5rem;
  box-shadow: 2px 2px 2px #ccc;
}

article[id^="part"] {
  transition: .5s;
  transform: translateY(5rem);
  visibility: hidden;
  opacity: 0;
}

article[id^="part"].active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

h1, h2 {
  margin: 6rem 0 0;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1em;
  text-transform: capitalize;
}

h2 {
  margin: 2rem 0 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1em;
}

h2:first-of-type {
  margin: 1rem 0;
}

#greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

#greeting > h2 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1em;
  text-align: center;
  letter-spacing: .2em;
  text-transform: uppercase;
}